body {
    height: 100vh;
    background: linear-gradient(to bottom,
    #009688,
    #009688 20vh,
    #dddbd1 20vh,
    #d2dbdc 100%);
  }

.container {
    width: 70vw;
    margin: 0 auto;
    height: 80vh;
}

/* HEADER */
.header-left, .header-right {
    background-color:#eaeaea;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.header-left, .main-left {
    width: 30%;
    border-right: 2px solid rgb(214, 214, 214);
}

.header-right, .main-right{
    width: 70%;
}

.mySection {
    margin: 15px, 0, 15px, 15px; 
}

.circle-image {
    width:40px;
    height:40px;
    border-radius: 50%;
    display: inline-block;
}

.header-left .fas,
.header-right .fas {
    color: #b1b1b1;
    margin-right: 15px;
}


/* MAIN PART */
.main-left, .main-right {
    height: 80vh;
}

.main-left {
    background-color: white;
    flex-flow: column nowrap;
}

.main-right {
    background-image: url(img/mine.jpg);
    flex-flow: column nowrap;
}

.notification {
    background-color: #8edafc;
    height: 13%;
}

.notification > .circle-image {
    background-color: white;
}

.search {
    height: 7%;
    background-color:#eaeaea;
}

.search input {
    width: 90%;
    height: 60%;
    border: none;
}

.contacts {
    height: 80%;
}

.message {
    height:90%;
}

.text-box {
    height: 10%;
    background-color: #eaeaea;
}

.notification .circle-image .fas {
    color: #8edafc;
}

.text-box {
    justify-content: space-around !important;
}
.text-box input {
    width: 80%;
    height: 70%;
    border-radius: 5px;
    border: none;
}

.text-box > a > i {
   color: #757575;
}








/* Helper */
.d-flex {
    display: flex;
}



.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}